
* {
	margin:0;
	padding:0;
}

a {
	color:#000040;
	text-decoration:none;
}

a:hover {
	color:#CAF7E2;
	text-decoration:none;
}

body {
	background:#FFFFFF;
	color:#000000;
	font-family: Arial, "MS Trebuchet", sans-serif;
}

header {
	height:80px;
	margin:0 auto;
	width:750px;
}
header h1 {
	color:#386150;
	font-size:250%;
	text-align:left;
	padding-bottom:5px;
	margin-bottom:-20px;
}
header h2 {
	color:#58B09C;
	font-size:150%;
	padding-left:50px;
	letter-spacing:-2px;
	text-align:left;
}

nav {
	background:#CAF7E2;
	border-right:1px solid #999999;
	margin:0 auto;
	width:625px;
	height:30px;
	list-style:none;
}
nav li {
	border-left:1px solid #999999;
	float:left;
	width:124px;
	list-style:none;
	font-size:80%;
    cursor: pointer;
}
nav a {
	color:#555555;
	display:block;
	line-height:30px;
	text-align:center;
}
nav a:hover {
	background:#B0F8B0;
	color:#555555;
}
nav a:active {
	background:#B0F8B0;
	color:#777777;
}

section#maincontent {
	height:auto;
	margin:0 auto;
	padding:15px 0 20px;
	width:965px;
    //width:75%;
}
section#maincontent h3 {
	border-bottom:1px solid #000000;
	font-size:1.2em;
	padding:20px 0 0;
}
section#maincontent p {
	padding:20px 20px 0;
}

footer {
	border-top:1px solid #000000; 
	height:50px;
	margin:0 auto;
	padding:10px 0;
	text-align:center;
	width:750px;
}

.error {
	font-weight: bold;
	color: #FF0000;
}

table {
	border: 1px solid;
	width: 75%;
	border-collapse: collapse;
	margin-left:auto; 
    	margin-right:auto;
	margin-top: 10px;
}

td, th {
	border: 1px solid;
	padding: 6px;
}

label{
    display:inline-block;
    width:175px;
    margin-right:30px;
    text-align:left;
}

nav.questions {
	background:#ff7a7a;
	border-right:1px solid #999999;
	margin:0 auto;
    padding:0;
    width:960px;
	height:30px;
	list-style:none;
    text-align:center;
    display: block;
}

nav.questions li {
	border-left:1px solid #999999;
	float:left;
    width:95px;
	list-style:none;
	font-size:80%;
	display:inline-block;
	line-height:30px;
	text-align:center;
    cursor: pointer;
}

nav.questions a {
	color:#555555;
	display:inline-block;
	line-height:30px;
	text-align:center;
}
nav.questions a:hover {
	background:#9d00ff;
	color:#555555;
}
nav.questions a:active {
	background:#ff0000;
	color:#777777;
}

#clockdiv{
    font-family: sans-serif;
    color: #fff;
    font-weight: 100;
    text-align: center;
    font-size: 20px;
}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
}

#divtopleft { 
    width:550px; 
    height:350px;
    float:left;
    display:table-cell; 
    vertical-align:middle; 
    padding: 10px;
}

#divtopright { 
    width:550px; 
    height:350px; 
    float:left;
    display:table-cell; 
    vertical-align:middle; 
    padding: 10px;
}

#divbottomleft { 
    width:550px; 
    height:400px; 
    float:left;
    display:table-cell; 
    vertical-align:middle; 
    padding: 10px;
}

#divbottomright { 
    width:550px; 
    height:400px;
    float:left;
    display:table-cell; 
    vertical-align:middle; 
    padding: 10px;
}

#testbody{
    height:auto;
	padding:15px 0 20px;
    margin-left:-200px;
	width:1200px;
}

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}
.myButton:active {
	position:relative;
	top:1px;
}